@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Estilos de Layout para o Monitora Urbano */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f4f6; /* bg-gray-100 */
}

/* Garante que os componentes customizados ocupem espaço */
app-mapa, app-formulario-alerta {
  display: block;
}

/* Esconde o painel de texto da rota para manter o mapa limpo no protótipo */
.leaflet-routing-container {
  display: none !important;
}
